[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
trumpworm = "Hqp3bwuxLTJGjsacPzo7Q2bpW9snYyDzxQXq1gY1e9EK"

[programs.devnet]
trumpworm = "Hqp3bwuxLTJGjsacPzo7Q2bpW9snYyDzxQXq1gY1e9EK"

[programs.mainnet]
trumpworm = "DLLQxjjnjiyRQHFt7Q63G7TLvVu9WAf4aCyd2q1qPAbF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
